<!DOCTYPE html>
<html>

	<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <meta charset='utf-8' />
	    <meta name="author" content="Arthur" />
	    <meta name="description" content="Blog content" />
	    <title>{{ page.title }}</title>
	    <link rel="stylesheet" href="http://arthur503.github.io/blog/stylesheets/stylesheet.css" type="text/css" />
　　</head>



　　<body>

	<!-- HEADER -->
	    <div id="header_wrap" class="outer">
	        <header class="inner">
	          <a id="forkme_banner" href="https://github.com/arthur503/blog">View on GitHub</a>

	          <h1 id="project_title"><a href="http://arthur503.github.io/blog/"><font color="FFFFFF">龙珠</font></h1>
	            <div id="project_description">修炼自己与发现世界  11:52 post.html </div>
	          <h2 id="project_tagline"></h2>

	        </header>
	    </div>


　　　　{{ content }}

　　</body>


</html>