<!DOCTYPE html>
　　<html>
    <head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
　　</head>



　　<body>

　　　　{{ content }}




	<!-- 添加百度分析代码 -->
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3badab5b83b9692e5880067a9e549d78' type='text/javascript'%3E%3C/script%3E"));
	</script>
	
　　</body>
　　</html>