<!DOCTYPE html>
　　<html>
		<head>
			<meta charset="utf-8" />
			<title>{{ page.title }}</title>
			<meta name="description" content="Arthur Blog Content" />
			<meta name="keywords" content="文字" />

			<link rel="stylesheet" href="http://t.libdd.com/css/base/rich-content.css" />
			<link rel="stylesheet" href="http://x.libdd.com/farm1/90ecce/caa101be/4ABED.css" />
			<style type="text/css">
			
				.container {
					width:600px;
				}
		  
			</style>

		</head>

　　<body>

　　　　{{ content }}

　　</body>
　　</html>